version: '3.8'

x-podman-args:
  network_mode: bridge

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: llm_qdrant
    ports:
      - "6333:6333" 
      - "6334:6334"
    volumes: 
      - ./qdrant_storage:/qdrant/storage:Z
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    networks:
      - ai-net
  
  embedding-service:
    build:
      context: .
      dockerfile: ./dockerfile/Dockerfile.embedding
    ports:
      - "50051:50051"
    environment:
      - EMBED_API_KEY=${EMBED_API_KEY}
      - EMBED_ENDPOINT=${EMBED_ENDPOINT}
    networks:
      - ai-net

  cache-service:
    build: 
      context: .
      dockerfile: ./dockerfile/Dockerfile.cache
    ports:
      - "50052:50052"
    environment:
      - EMBED_ADDR=embedding-service:50051
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6334
    depends_on:
      - embedding-service
      - qdrant
    networks:
      - ai-net
  
  completion-service:
    build:
      context: .
      dockerfile: ./dockerfile/Dockerfile.completion
    ports:
      - "50053:50053"
    environment:
      - COMPL_API_KEY=${COMPL_API_KEY}
      - COMPL_ENDPOINT=${COMPL_ENDPOINT}
    networks:
      - ai-net
    
  gateway:
    build:
      context: .
      dockerfile: ./dockerfile/Dockerfile.gateway
    ports:
      - "8080:8080"
    environment:
      - CACHE_ADDR=cache-service:50052
      - COMPL_ADDR=completion-service:50053
    depends_on:
      - cache-service
      - completion-service
    networks:
      - ai-net

networks:
  ai-net:
    driver: bridge